@media only screen and (min-width: 768px) {
  .navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .navigation li {
    display: block;
    flex: 1 1 100%;
  }
  .navigation a {
    text-align: center;
  }

  #menu {
    display: none;
  }
  .services .icon-box {
    height: 250px;
  }

  .container-sider {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  .events {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .sidebar {
    display: block;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .card-directory .grid,
  .socialMedia,
  .sidebar,.mb-0,.row-sm  {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
}
