/* Media Query for wider than mobile viewports. Breakpoint should be based upon the design and content and use em units to be relative to the user's font size versus fixed with pixels.*/
/* @media only screen and (min-width: 40em) {
  .navigation {
    display: flex;
  }
  .navigation li {
    display: block; /* change state in small view */
/* flex: 1 1 100%;
  }
  .navigation a {
    text-align: center;
  }
  #menu {
    display: none;
  }
} */

/* Larger Views ******************************/
@media only screen and (max-width: 768px) {
  .navigation {
    display: flex;
  }
  .navigation li {
    display: block; /* change state in small view */
    flex: 1 1 100%;
  }
  .navigation a {
    text-align: center;
  }
  #menu {
    display: none;
  }
  .container,
  .container-content {
    display: grid;
    grid-template-columns: 1fr; /* One column for mobile */
    grid-template-rows: auto auto; /* Three rows for each item */
    text-align: center;
  }
  .card h2 {
    background-color: #014f86;
    border: 1px solid #014f86;
    border-radius: 5%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: 15px;

    color: white;
  }
}
